RemoteSystemsTempFiles
.metadata
target
.settings
.project
.classpath
.idea
*.iml
**/.settings
**/.project
**/.classpath
**/target
**/.flattened-pom.xml
**/.DS_Store
.build_image
docker
**.env
bin/
/src/main/resources/application.properties
*.jks
